.*
!.gitignore
*.ko
*.so
*.[ado]
*.bmp
*.xpm
*.ico
*.gif
*.htm
*.m4
*.png
*.sgml
*.html
.cvsignore
CVS
ChangeLog
busybox/
apps/
os/linux-2.6.21.5/*
!os/linux-2.6.21.5/arch/
!os/linux-2.6.21.5/include/
#!os/linux-2.6.21.5/arch/mips/kernel/
os/linux-2.6.21.5/include/*
!os/linux-2.6.21.5/include/asm-generic/
!vmlinux.lds.S
!vmlinux.lds.h

